body {
  background-image: url(/public/img/pattern.jpg);
}

header {
  display: flex;
  justify-content: space-between;
  padding: -20%;
  background-color: white;
  top: 0;
  position: sticky;
}

nav ul {
  list-style: none;
  display: flex;
  margin-top: 30px;
}
nav ul a {
  padding: 20px;
}
a {
  text-decoration: none;
}
section {
  background-color: white;
  margin: 10px 15%;
  padding: 10px;
}

section p {
  margin-bottom: 20px;
}
section h1 {
  text-align: center;
  margin-bottom: 50px;
}

section a h3 {
  margin-bottom: 20px;
}

#article-list div {
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}

#article-list div:nth-child(5) {
  margin-bottom: 0px;
}

footer {
  left: 0;
  bottom: 0;
  background: black;
  color: white;
  padding: 1%;
}

footer h5 {
  text-align: center;
}

.container {
  border-style: groove;
  padding: 30px 40px 25px ;
  background-color: white;
  border-radius: 5px;
  overflow: auto;
}

.about-redirect {
  color: black;
  text-decoration: none;
}

.to-index {
  color: black;
  padding: 30px 15px 25px 0px;
}

.about-ol{
  padding: 35px 0px 25px 45px;
    line-height: 25px;
}

.card-head {
  text-align: center;
}

.card-content1 {
  margin-bottom: 20px;
}
.card-content1 ul #bold {
  font-weight: bold;
}

ul li {
  list-style: none;
  margin-bottom: 20px;
}

.card-content2 {
  display: grid;
  grid-template-columns: 200px 200px;
  margin-bottom: 50px;
  margin-left: 40px;
  line-height: 30px;
}

.card-content2 label {
  margin-bottom: 20px;
  font-weight: bold;
}

.card-content2 input{
  margin-top: 12px;
  line-height: 20px;
  padding-top: 10px;
}

.submit {
  margin-left: 40px;
  margin-bottom: 75px;
  margin-top: -40px;
}